/* ===============
    COMPONENT STYLES
   =============== */

.label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .25rem;
    text-transform: capitalize;
}

.label h5 {
    font: var(--h3);
    color: var(--grey-1500);
}


/* ===============
    COMPONENT STATES
   =============== */

/*Alert Label*/
.labelDanger h5, .alertWarn h5 {
    font: var(--label-2);
    text-transform: uppercase;
}

.labelDanger svg > path {
    fill: var(--danger);
}

.labelDanger h5 {
    color: var(--danger);
}

.labelWarn svg > path {
    fill: var(--warn);
}

.labelWarn h5 {
    color: var(--warn);
}

/*Secondary Label*/
.labelSecondary svg > path {
    fill: var(--blue-500);
}

.labelSecondary h5 {
    color: var(--blue-500);
}