/* ===============
    COMPONENT STYLES
   =============== */

.label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .25rem;
    text-transform: capitalize;
}

.label h5 {
    font: var(--h3);
    color: var(--grey-1500);
}


/* ===============
    COMPONENT STATES
   =============== */

/*Label Alerts*/
.alertDanger h5, .alertWarn h5 {
    font: var(--label-2);
    text-transform: uppercase;
}


.alertDanger svg > path {
    fill: var(--danger);
}

.alertDanger h5 {
    color: var(--danger);
}

.alertWarn svg > path {
    fill: var(--warn);
}

.alertWarn h5 {
    color: var(--warn);
}